:root {
  --primary-white: #ffffff;
  --secondary-gray: #c0c0c0;
  --blue-button: #167bf7;
  --background-color: #00030c;

  --main-font: 'Inter';
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-white);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1rem;
}

.main__section {
  background-image: url('./img/background.svg');

  background-repeat: no-repeat;
  background-size: contain;

  align-items: center;
  text-align: center;
}

.container__box {
  margin: 6em 0 0 6em;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__title {
  font-size: 1.75rem;
  font-weight: 700;
}

.container__img {
  margin: 1em 0 2em 0;
}

.container__button {
  display: block;
  padding: 1em;

  background-color: var(--blue-button);
  color: var(--primary-white);

  border-radius: 8px;
  text-decoration: none;

  margin-bottom: 1em;
}

.secondary_button {
  background-color: transparent;
  border: 2px solid var(--primary-white);
}

.container__notice {
  font-size: 0.75rem;
  color: var(--secondary-gray);
}

.secondary__img {
  width: 80%;
}

.secondary {
  align-items: center;
  margin: 0 10em;
}

.description__title {
  font-weight: 700;
  font-size: 3rem;

  color: var(--primary-white);

  margin-bottom: 0.1em;
}

.description__text {
  color: var(--secondary-gray);
}

.secondary__button {
  display: inline-block;
  margin-top: 1em;
}

.container__description {
  padding: 2em;
}

.devices {
  text-align: center;
}

.devices__title {
  font-size: 3rem;

  color: var(--primary-white);
}

.devices__list {
  display: flex;
  justify-content: center;

  list-style-type: none;

  margin: 5em 0;
}

.list__item {
  font-size: 2rem;

  color: var(--primary-white);
}
