:root {
  --primary-white: #ffffff;
  --secondary-gray: #c0c0c0;
  --blue-button: #167bf7;
  --background-color: #00030c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-white);
}
