:root {
  --primary-white: #ffffff;
  --secondary-gray: #c0c0c0;
  --blue-button: #167bf7;
  --background-color: #00030c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-white);
}

.main__section {
  background-image: url('./img/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
}

.container__button {
  background-color: var(--blue-button);
  color: var(--primary-white);

  border-radius: 8px;
  text-decoration: none;
  padding: 1em;

  display: block;
}
